@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body ul, body li {
  padding: 0;
  list-style: none;
  margin: 0;
}
body .btn:focus, body button:focus, body input:focus {
  box-shadow: none !important;
  outline: 0;
}

.btn-login {
  background-color: #20A544;
  color: #fff;
  padding: 8px 30px;
  font-size: 14px;
  margin-right: 20px;
  transition: all 0.3s ease;
}
.btn-login span {
  margin-right: 5px;
}
.btn-login img {
  width: 20px;
  filter: brightness(100);
}
.btn-login:hover {
  border-color: #20A544;
  color: #20A544;
}
.btn-login:hover img {
  filter: inherit;
}
.btn-login:focus {
  border-color: #20A544;
  color: #20A544;
}
.btn-login:focus img {
  filter: inherit;
}

.header {
  width: 100%;
  float: left;
  height: auto;
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.4117647059);
  padding: 0px;
}
.header .logo img {
  width: 120px !important;
}
.header .nav-menu {
  display: inline-flex;
}
.header .nav-menu .nav-item {
  padding: 0px 15px;
}
.header .nav-menu .nav-item .nav-link {
  color: #222222;
}
.header .nav-menu .nav-item .nav-link img {
  display: none;
}
.header .nav-menu .nav-link.active, .header .nav-menu .navbar-nav .show > .nav-link {
  color: #20A544 !important;
}
.header .sign-up-add-to-cart .login-sec {
  float: left;
  position: relative;
}
.header .sign-up-add-to-cart .cart img {
  width: 40px !important;
}
.header .sign-up-add-to-cart .login-cart {
  position: absolute;
  -webkit-backdrop-filter: invert(1);
  backdrop-filter: invert(1);
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: -4px 6px 13px rgba(0, 0, 0, 0.2705882353);
  left: 0;
  top: 137%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: none;
  width: 250px;
}

.active-popup .login-cart {
  display: block !important;
}
.active-popup .login-cart input {
  padding: 0px 10px !important;
  height: 45px;
  line-height: inherit;
}
.active-popup .login-cart input:focus {
  border-color: #20A544;
}
.active-popup .login-cart label {
  padding: 10px;
  height: auto;
}

.header-fixed {
  position: fixed;
  top: 0;
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.4117647059);
}

.form-floating > .form-control:not(:-moz-placeholder-shown) ~ label {
  opacity: 2;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  top: -5px;
  background: #fff !important;
  color: #20A544;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  left: 10px;
}

.form-floating > .form-control:not(:-ms-input-placeholder) ~ label {
  opacity: 2;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  top: -5px;
  background: #fff !important;
  color: #20A544;
  width: fit-content;
  padding: 0;
  left: 10px;
}

.form-floating > .form-control-plaintext ~ label, .form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-select ~ label {
  opacity: 2;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  top: -5px;
  background: #fff !important;
  color: #20A544;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  left: 10px;
}/*# sourceMappingURL=main.css.map */