
$primary-color: #20A544;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    ul,li {
        padding: 0;
        list-style: none;
        margin: 0;
    }
    .btn,button,input {
        &:focus {
            box-shadow: none!important;
            outline: 0;
        }
    }

}
.main {
    width: 100%;
    float: left;
    height: auto;
}
p {
    padding: 0;
    margin: 0;
}
.btn-login {
    background-color: $primary-color;
    color: #fff;
    padding: 8px 30px;
    font-size: 14px;
    margin-right: 20px;
    transition: all .3s ease;
    span {
        margin-right: 5px;
    }
    img {
        width: 20px;
        filter: brightness(100) ;
    }
    &:hover {
        border-color: $primary-color;
        color: $primary-color;
        img {
            filter: inherit
        }
    }
    &:focus {
        border-color: $primary-color;
        color: $primary-color;
        img {
            filter: inherit
        }
    }
}
.header{
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        padding: 0px;
        background: transparent!important;
        position: fixed;
        z-index: 1030;
    
    .logo {
     img {
        width: 120px!important;
        filter: brightness(100);
     }
    }
    .nav-menu  {
        display: inline-flex;
        .nav-item {
            padding: 0px 15px;
            .nav-link {
                color: #222222;
                color:#fff;
                img {
                    display: none;
                }
            }
        }

        .nav-link.active, .navbar-nav .show>.nav-link {
            color: #fff
        }
        
     }
     .sign-up-add-to-cart {
        .login-sec {
            float: left;
            position: relative;
        }
            .cart {
                img {
                    width: 40px!important;
                    filter: brightness(100) ;
                }
        }
        .login-cart {
            position: absolute;
            -webkit-backdrop-filter: invert(1);
            backdrop-filter: invert(1);
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: -4px 6px 13px rgba(0, 0, 0, 0.2705882353);
            left: 0;
            top: 137%;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            display: none;
            width: 250px;
        }
     }
}

.active-popup {
    .login-cart {
        display: block!important;
        z-index: 10200000;
         input {
            padding: 0px 10px!important;
            height: 45px;
            line-height: inherit;

            &:focus {
                border-color: $primary-color;
            }
        }
        label {
            padding: 10px;
            height: auto;
        }
        
    }
}


.header-fixed {
    background: #fff!important;
    position: fixed;
    top: 0;
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.4117647059);
    .logo {
        img {
            filter: inherit;
        }
    }
    .nav-menu  {
        .nav-item {
            .nav-link {
                color: #222222!important;
                color: #fff;
            }
        }
        .nav-link.active, .header .nav-menu .navbar-nav .show > .nav-link {
            color: $primary-color!important;
        }
    }
     .sign-up-add-to-cart {
        .cart{
            img {
                width: 40px !important;
                filter: brightness(100) invert(1);
                opacity: .7;
            }
        }
     }
 
}

.form-floating>.form-control-plaintext~label, .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
    opacity: 2;
    transform: scale(.85) translateY(-.5rem) translateX(.15rem);
    top: -5px;
    background: #fff!important;
    color: $primary-color;
    width: fit-content;
    padding: 0;
    left: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

.hero-banner {
    width: 100%;
    float: left;
    height: 70vh;
    position: relative;
    img {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
    &:after{
        position: absolute;
        width: 100%;
        height: 100%;
        background: #074a19b2;
        top: 0;
        left: 0;
        content: '';
      }
      .vegetable-serach-sec {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 40%;
        z-index: 1020;
        text-align: center;
        h2 {
        color: #fff;
    }
      }
}

.serach-sec {
    width: 42vw;
    margin: auto;
    position: relative;
    margin-top: 3.5rem;
     input {
        padding: 15px 20px;
        border-radius: 1rem;
        padding-right: 50px;
    }
    .search-banner {
        position: absolute;
        top: 30%;
        right: 4%;
         img {
            filter: inherit;
            width: 20px;
        }
    }
}

.reconmanded-sec {
    margin-top:30px;
    h2 {
        text-align: center;
        padding-bottom: 40px;
    }
    .slide-card {
        width: 100%;
        float: left;
        height: auto;
        border-radius: 15px;
        border: 1px solid #C2C2C2;
        img {
            border-radius: 15px;
                display: block;
                width: 100%;
                box-shadow: 0px 2px 7px rgba(39, 5, 5, 0.13);
        }
        .slide-text {
                width: 100%;
                float: left;
                padding: 10px;
            h3 {
                font-size: 1rem;
            }
        }
    }
}
